{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pet|default:"Add Pet" }}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
      <h2 class="text-2xl font-bold mb-6 text-center">
        {% if pet %}Edit Pet{% else %}Add New Pet{% endif %}
      </h2>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg"
        >
          Save
        </button>
      </form>
    </div>
  </body>
</html>
